@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&family=Pacifico&display=swap');

/* Universal style */

* {
    font-family: 'Fredoka', monospace, sans-serif;
}

body {
    background-color: #fefedf;
    display: flex;
    flex-direction: column;
}

h1,
.heading {
    font-family: 'Pacifico', monospace, sans-serif;
}


/* Sticky footer from CSS Tricks https://css-tricks.com/couple-takes-sticky-footer/ */

html,
body {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* End sticky footer */


/* Navbar style */

.navbar-brand {
    font-family: 'Pacifico', monospace, sans-serif;
    font-size: 3em;
}

.navbar {
    color: black;
    font-size: 1.5em;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover,
a:hover,
.page-link:hover,
.fullstop {
    color: #7f4d7e;
}


/* Landing page style */

.landing-heading {
    font-size: xxx-large;
}

.heart {
    max-height: 200px;
} 

.heart:hover {
    transform: scale(1.25, 1.25);
    transition: width 2s, height 2s, transform 2s;
}


/* Resources page style */

a,
.page-link {
    text-decoration: none;
    color: #7f4d7e;
}


/* Profile page style */

.profile-link:hover,
.resource-link:hover {
    color: black;
}

.card {
    background-color:#7f4d7e;
    max-width: 20rem;
}

.card-title,
.card-title:hover {
    color:#fefedf;
}

.pagination-btn {
    background-color: #fefedf;
    border: none;
}


/* Style for forms */

.submit-form {
    background-color:#7f4d7e;
    color:#fefedf;
}

.submit-form:hover {
    color:#fefedf;
    text-decoration: underline;
}


/* Style for email example page */

.email-image {
    max-height: 300px;
}
