@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&family=Pacifico&display=swap');

* {
    font-family: 'Fredoka', monospace, sans-serif;
}

body {
    background-color: #fefedf;
    display: flex;
    flex-direction: column;
}


/* Sticky footer from CSS Tricks https://css-tricks.com/couple-takes-sticky-footer/ */

html, body {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* End sticky footer */

h1, .heading {
    font-family: 'Pacifico', monospace, sans-serif;
}

a, .page-link {
    text-decoration: none;
    color: #7f4d7e;
}

.navbar-brand {
    font-family: 'Pacifico', monospace, sans-serif;
    font-size: 3em;
}

.navbar {
    color: black;
    font-size: 1.5em;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover, a:hover {
    color: #7f4d7e;
}
