@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&family=Pacifico&display=swap');

body {
    background-color: beige;
}

* {
    font-family: 'Fredoka', monospace, sans-serif;
}

h1 {
    font-family: 'Pacifico', monospace, sans-serif;
}

a {
    text-decoration: none;
    color:rgb(82, 6, 153);
}