{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<h2>Form to allow viewer.</h2>

<div class="container-fluid">
    <h4>Test allow viewer form here.</h4>



    <form method="post">
        {{ viewer_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-md">Submit</button>
    </form>

    <script>
        emailjs.send("service_0muuuls", "template_xx57dpj", {
            from_name: "from placeholder",
            to_name: "to placeholder",
            message: "message placeholder",
        });
    </script>


</div>

{%endblock%}