{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Out.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Email JS temporarily disabled -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("z4V96jMbCXKPuaPWE");
        })();
    </script> -->
</head>

<body>

    <nav class="navbar navbar-expand-md mx-4">
        <div>
            <a class="navbar navbar-brand" href="{% url 'landing_page' %}" aria-label="Landing page.">Out<p class="fullstop heading mt-3">.</p></a>
        </div>
        <div>
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mt-2 mt-md-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
                {% if email in vieweraccess.email %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewer_profile' %}">Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'creator_profile' %}">Profile</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'resources' %}">Resources</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close message."></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Ctrl w alert for later - needs to go over page -->
    <!-- <div class="container-fluid">
        <div class="col-md-4 offset-4">
            <div class="alert alert-info" id="msg" role="alert">
                Type Ctrl + W or Cmd + W to close this tab quickly.
            </div>
        </div>
    </div> -->

    <main class="container" role="main">
        {% block content %}

        {% endblock content %}
    </main>

    <footer class="container">
        <div class="row">
            <div class="col mt-2">
                Hit Ctrl+W to quickly leave the site
            </div>
            <div class="col">
                <a class="justify-content-end nav-link" href="{% url 'account_logout' %}">Contact us on Instagram</a>
            </div>
            
        </div>

    </footer>

    <script>
        setTimeout(function () {
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000)
    </script>


</body>

</html>