{% extends "base.html" %}

{% block content %}

{% load static %}

{% load cloudinary %}
{% if user.is_authenticated %}
<div class="text-center m-2">
    <h2 class="heading">Creator profile</h2>
    <a class="profile-link" href="{% url 'write_page' %}">New Page</a>
    <br>
    <a class="profile-link" href="{% url 'allow_viewer' %}">Allow Viewer</a>
</div>

<div class="container">
    <div class="row">
        {% for page in page_list %}
            <div class="card col-sm m-2" style="width: 18rem;">        
                    <!-- add class="card-body" if want border around pic -->
                    <a class="card-title" href="{% url 'creator_page' page.slug %}">{{ page.title }}
                        {{ page.status }}</a>

                    {% if 'placeholder' in page.image %}
                    <img class="card-img" src="{% static 'media/placeholder-image.png' %}"
                        alt="Placeholder image of a small froglike creature wearing a large wizard hat.">
                    {% else %}
                    <img class="card-img" src="{% cloudinary page.image.url height=100 width=60 crop='fill' %}"
                        alt="User provided private image.">
                    {% endif %}     
            </div>
        
        {% if forloop.counter|divisibleby:3 %}
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{% endif %}
<p>You do not have permission to see this page.</p>


{%endblock%}