{% extends "base.html" %}

{% block content %}

{% load cloudinary %}

{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <div>
                <h2 class="heading">{{ page.title }}</h2>
            </div>
            <div>
                <p> {{ page.text_content | safe }} </p>
            </div>
            <div>
                <a class="resource-link" href="{{ page.link }}" target="_blank" rel="noopener"
                    aria-label="User provided resource.">{{ page.link_title }}</a>
            </div>
            <div class="m-2">
                {% if 'placeholder' in page.image %}
                {% cloudinary page.image.placeholder.png width=400 height=400 crop="limit" %}
                {% else %}
                {% cloudinary page.image width=400 height=400 crop="limit" %}
                {% endif %}
            </div>

            {% if viewer_access %}

            {% else %}
            <div>
                <a href="{% url 'edit_page' page.slug %}">Edit page</a>
            </div>
            <div>
                <a href="{% url 'delete_page' page.slug %}">Delete page</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% else %}
 <p>You do not have permission to see this page. Please login <a class="nav-link" href="{% url 'account_login' %}">here.</a></p>
{% endif %}

{%endblock%}