{% extends "base.html" %}

{% block content %}

{% load cloudinary %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="heading">Creator blog page.</h2>
            <div>
                <h3>{{ page.title }}</h3>
            </div>
            <div>
                <p> {{ page.text_content | safe }} </p>
            </div>
            <div>
                <a class="resource-link" href="{{ page.link }}" target="_blank" rel="noopener"
                    aria-label="User provided resource.">{{ page.link_title }}</a>
            </div>
            <div class="m-2">
                {% if 'placeholder' in page.image %}
                {% cloudinary page.image.placeholder.png width=400 height=400 crop="limit" %}
                {% else %}
                {% cloudinary page.image width=400 height=400 crop="limit" %}
                {% endif %}
            </div>

            {% if viewer_access %}
            <!-- <div class="container-fluid esc-popup">
                <div class="col-md-4 offset-4">
                    <div class="alert alert-info" id="msg" role="alert">
                        You do not have permission to edit this page.
                    </div>
                </div>
            </div> -->
            {% else %}
            <div>
                <a href="{% url 'edit_page' page.slug %}">Edit page</a>
            </div>
            <div>
                <a href="{% url 'delete_page' page.slug %}">Delete page</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endif %}

{%endblock%}