{% extends "base.html" %}

{% block content %}

{% load cloudinary %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<div class="container-fluid col-md-4">
    <h2 class="heading">Delete your Page.</h2>
    <div>
        <form method="post" enctype="multipart/form-data">
            {{ delete_form | crispy }}
            {% csrf_token %}
            <div>
                <h4>Deletions are final.</h4>
            </div>
            <button type="submit" class="btn btn-signup btn-md submit-form mt-2">Delete</button>
        </form>
    </div>
</div>

{% else %}
 <p>You do not have permission to see this page. Please login <a class="nav-link" href="{% url 'account_login' %}">here.</a></p>
{% endif %}

{%endblock%}