{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="landing-heading mb-4">Email Example.</h1>
      <p>This is what the email you send out will look like (for mobile please scroll sideways):</p>
      <div>
        <img class="email-image" src="{% static 'images/email-example-image.png' %}" alt="An example of the email that the 'Allow Viewer' form will send out. 
        The subject line says: 'Example Chosen Name invites you to view their page'. The body of the email says: 'Hello Example Recipient Name,
        Example Chosen Name has given you access to their private page.
        Please follow the below link and signup to access it (you will find the page under your profile).
        Please use the email address we have contacted you on.        
        out-proud.herokuapp.com/accounts/signup/        
        From, Example Chosen Name' ">
      </div>
    </div>
  </div>
</div>

{%endblock%}