{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid col-md-4">
    <h2 class="heading">Create your Page.</h2>
    <div>
        <form method="post" action="{% url 'write_page' %}" enctype="multipart/form-data">
            <div>
                <h5 class="m-2"><a href="{% url 'resources' %}">Suggested links</a></h5>
            </div>
            {{ page_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-md submit-form mt-2">Submit</button>
        </form>
    </div>
</div>

{%endblock%}